# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
**/*bin
**/*obj
**/*[Pp]ackages
*/_UpgradeReport_Files/*
**/*build
!source/.build*
**/*_build


#Code analysis files
**/*_Resharper.*
**/*StyleCop.cache

#Package Files
**/*.nupkg

#Editor/IDE files
**/*.suo

#OS files
**/*.DS_Store
**/*[Tt]humbs.db

**/*.GhostDoc*
**/*.jmconfig*
**/*.crunchsolution.cache
**/*.crunchsolution.user
**/*.sublimets
source/Owin.Scim.ncrunchsolution.user
*.suo
*.cache
