# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
[Pp]ackages
*/_UpgradeReport_Files/*
build
!source/.build*
_build

#For the new front end
source/Ids.PowerDms.Presentation.Web/[Cc]ontent
styles.css.map
dist
node_modules
.baseDir.ts
.tscache
tscommand-*.tmp.txt
default.xlf
_references.ts

#Code analysis files
_Resharper.*
StyleCop.cache

#Package Files
*.nupkg

#PowerDMS files
source/Dms/Ids.PowerDms.Presentation.Web/[Dd]ocuments
source/Ids.PowerDms.Presentation.Web/[Dd]ocuments

#Editor/IDE files
*.swp
*.user
*.docstates
*.suo
.idea
content_version.txt

#Merge tool files
*.orig

#OS files
*.DS_Store
[Tt]humbs.db

**.GhostDoc*
**.jmconfig*
**/*.crunchsolution.cache
**/_NCrunch_PowerDMS/StoredText/**
**/_NCrunch_Ccmp/StoredText/**
**.sublimets
source/Ids.PowerDms.Presentation.Web/content_version.txt
source/Ids.PowerDms.Presentation.Web/content_version.txt
