<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime" version="4.5.3" targetFramework="net451" />
  <package id="AutoFixture" version="3.47.4" targetFramework="net451" />
  <package id="FakeItEasy" version="2.0.0" targetFramework="net451" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net451" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net451" />
  <package id="Machine.Specifications" version="0.9.3" targetFramework="net451" />
  <package id="Machine.Specifications.Should" version="0.9.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Testing" version="3.0.1" targetFramework="net451" />
  <package id="NContext" version="4.0.0.15" targetFramework="net451" />
  <package id="NContext.Common" version="4.0.0.15" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
</packages>