<div class="jumbotron">
    <h1>Owin.Scim</h1>
    <p class="lead">Owin.Scim is a SCIM 2.0 compliant server created with love by the developers at PowerDMS, Inc. The majority of SCIM 2.0 is comprised of two IETF standards, RFC 7643 & RFC 7644. This software is licensed under the MIT open source license.</p>
    <p><a href="https://github.com/PowerDMS/Owin.Scim" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
